extends LAYOUT.pug

block customCSS
    link(rel="stylesheet", href="/static/css/index.css", type="text/css")

block content
    .instructions
        form#login-form
            div
                input.email(type="text" placeholder="email" v-model="email") 
                input.password(type="text" placeholder="password" v-model="password")
                button.submit(@click.prevent="signIn()") Login
            div
                input.email(type="text" placeholder="email" v-model="email")
                input.password(type="text" placeholder="password" v-model="password")
                button.submit(@click.prevent="signUp()") Sign Up
            a(@click="login()") login with google
            p {{ this.name }}
            a(@click="signOut()") Sign Out

block customJS
    script(src="/static/js/index.js")