@import './_variables.scss';

body{
    background-color:#ffffff;
    color:$mainBlack;
    font-family:'Nunito Sans', sans-serif;
    margin:0;
    background: url('https://images.pexels.com/photos/1141853/pexels-photo-1141853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center/100% 100% no-repeat;
    background-attachment:fixed;
    position:relative;
    z-index:-1;
    &:before{
        content:'';
        position:fixed;
        top:0;
        left:0;
        background-color:rgba(0,0,0,.6);
        z-index:-1;
        height:100%;
        width:100%;
    } 
    #content{
        width: 100%;
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        #calendar-container {
            width: 150px;
            height: 125px;
            margin:calc(50vh - 125px) auto;
            margin-bottom:auto;
            border-radius:3px;
            overflow:hidden;
            transition: 3s all ease;
            border:2px solid $mainBlack;
            animation:2s bounce 2;
            animation-fill-mode:forwards;

            &.loaded {
                margin:2% auto;
                width: 70%;
                height:auto;
                *{
                    opacity:1!important;
                }
                .arrows{
                    height:20%;
                }
            }

            .arrows{
                display:flex;
                justify-content:space-between;
                align-items:center;
                width:100%;
                height:30%;
                flex-flow:row;
                margin:auto;
                background-color:$mainColor;
                color:#f9f9f9;
                >*{
                    opacity:0;
                }
                #prev,#next{
                    margin: 0 5px; 
                    &:hover{
                        cursor:pointer;
                    }
                }
            } 
        
            #calendar{
                width:100%;
                margin:auto;
                display:flex;
                justify-content:flex-end;
                flex-flow:row wrap;
                text-align:center;
                color:$mainBlack;
                background-color:#f9f9f9;
                >*{
                    opacity:0;
                }
                .gray{
                    color:#d9d9d9;
                    text-shadow:black 1px 1px 1px;
                }
                h2, .days{
                    flex:1 0 14%;
                    border:1px dashed #c9c9c9bd;
                } 
                h2{
                    font-size:38px;
                    margin:0;
                }
                .days{
                    height:125px;
                    &:hover{
                        cursor:pointer;
                    }
                    p{
                        margin:0;
                        font-size:28px;
                        position:relative;
                        top:0;
                        right:20px; 
                        width:20%;
                        float:right;                    
                    }
                    .tasks{
                        .task-title{
                            position:relative;
                            width:100%;
                            border-radius:3px;
                            color:white;
                            text-shadow:1px 1px 1px black;
                            background-color:#FFF9D6;
                            overflow:hidden;
                            &:first-of-type{
                                background-color:#b0cbd6!important;
                            }
                            &:nth-of-type(2){
                                background-color:#914443!important;
                            }
                            &:nth-of-type(3){
                                background-color:#FFF9D6!important;
                            }
                            &:nth-of-type(4), &:nth-of-type(n+6){
                                display:none;
                            }
                            &:last-of-type{
                                background-color:#3b3537;
                                display:block;
                            }
                            p{
                                font-size:16px;
                                width:100%;
                                left:0;
                                right:0;
                            }
                        }
                    }
                }
            }
            .add-task{
                position:absolute;
                background-color:white;
                color:$mainBlack;
                width:100%;
                height:100%;
                border-radius:3px;
                top:0;
                left:0;
                display:flex;
                flex-flow:row;
                justify-content:center;
                z-index:3;
                text-align:center;
                .user-input{
                    border-right:1px solid #d9d9d9;
                    h3{
                        margin:0;
                    }
                    input{
                        border:1px solid #d9d9d9;
                        border-radius:3px;
                        width:80%;
                        margin:10px auto;
                        padding:2%;
                        font-size:18px;
                        font-family: 'Nunito Sans', sans-serif;
                    }
                    .input-description{
                        padding-bottom:20vh;
                    }
                    a.submit-button{
                        width: 20%;
                        padding: 2% 0;
                        align-self: flex-end;
                        border-radius: 3px;
                        background-color: #914443;
                        color: white;
                        margin-right: 8%;
                        font-size: 18px;
                        &:hover{
                            cursor:pointer;
                        }
                    }
                }
                .user-output{
                    p{
                        font-size: 18px;
                        border: 1px solid #d9d9d9;
                        border-radius: 3px;
                        width: 80%;
                        margin: 10px auto;
                        padding: 2%;
                        text-align: left;
                    }
                    .output-description{
                        padding-bottom: 20vh;
                    }
                }
                .user-input, .user-output{
                    display:flex;
                    flex-flow:column;
                    justify-content:flex-start;
                    flex: 1 0 49%;
                    h1{
                        margin:2% 0;
                    }
                    hr{
                        background-color:#ccc;
                        width:80%;
                    } 
                    .row{
                        display:flex;
                        flex-flow:row;
                        justify-content:space-between;
                        width:80%;
                        margin:10px auto;
                        input,p{
                            flex: 0 0 25%;
                            text-align:center;
                            margin:10px 0;
                        }
                    }
                }
            }
            .show-task{
                width:100%;
                height:100%;
                position:absolute;
                z-index:3;
                top:0;
                left:0;
                background-color:white;
                overflow:hidden;
                h2{
                    padding:2% 0;
                    height:auto;
                    border-top-width:0px!important;
                    border-left-width:0px!important;
                    border-right-width:0px!important;
                    font-size:38px;
                    margin:0;
                    text-align: center;
                    border:1px dashed #c9c9c9bd;
                }
                .task-container{
                    overflow-y: scroll;
                    width: 100%;
                    height: 86%;
                    position: relative;
                    top: 0;
                    left: 0;
                    h3{
                        font-size:32px;
                        text-align: left;
                        font-weight:400;
                        padding:1% 2%;
                        &:nth-of-type(odd){
                            background-color:#f9f9f9;
                        }
                    }
                }
            }

            .fa-plus{
                background-color:$mainColor;
                color:white;
                position:fixed;
                bottom:50px;
                right:50px;
                z-index:2;
                opacity:0;
                border-radius:50%;
                height: 60px;
                width: 60px;
                text-align: center;
                line-height: 60px;
                &:hover{
                    animation:3s bounce 1;
                    animation-fill-mode: forwards;
                    cursor:pointer;
                }
            }
            
            .fa-times{
                top:20px;
                right:20px;
                position:absolute;
                color:#914443;
                &:hover{
                    cursor:pointer;
                }
            }
        }
    }
}

@-webkit-keyframes bounce{
    from{
        transform: scale(1.1,1.1);
    }
    to{
        transform: none;
    }
}

