@import './_variables.scss';

body{

    a{
        color:inherit;
        text-decoration: none;
    }

    .buttons{
        border-radius:3px;
        padding:20px 15px;
        width:50%;
        text-align:center;
        font-family:'Lato', sans-serif;
        font-size:24px;
        &:hover{
            cursor:pointer;
            box-shadow:0px 1px 3px rgba(0,0,0,0.08), 0px 0px 24px rgba(0,0,0,0.06);
        }
    } 

    .instructions{
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        z-index:1000;
        background-color:white;
        color:$mainBlack;
        opacity:1;
        font-family:'Montserrat', sans-serif;

        h1{
            position:relative;
            top:25px;
            left:25px;
        }

        .user-login{
            display:flex;
            align-items:center;
            flex-flow:column;
            width:425px;
            border:1px solid #d9d9d9;
            border-radius:3px;
            position:relative;
            left:50%;
            top:50%;
            padding:125px 0;
            transform:translate(-50%, -50%);

            .buttons{
                &:nth-of-type(1){
                    background-color:$mainColor;
                    color:white;
                    margin-bottom:80px;
                }
                &:nth-of-type(2){
                    color:$mainBlack;
                    background-color:white;
                    border:1px solid $mainColor;
                }
            }

            .sign-out{
                position:absolute;
                bottom:25px;
                left:25px;
            }
        }

        .sign-up, #login-form{
            width:100%;
            height:100%;
            position:fixed;
            top:0;
            left:0;
            
            .fa-times{
                position:absolute;
                top:25px;
                right:25px;
                color:#914443;
            }
            
            .login-field, .signup-field{
                display:flex;
                flex-flow:column;
                align-items:center;
                width:500px;
                position:relative;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                border:1px solid #d9d9d9;
                border-radius:3px;
                padding:80px 40px;

                .button-row{
                    display:flex;
                    justify-content:center;
                    flex-flow:row;
                    width:100%;
                    .google-button{
                        font-size: 18px;
                        width: 50%;
                        text-align: center;
                        padding-top: 20px;
                        border:1px solid $mainColor;
                        border-radius:3px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        &:hover{
                            box-shadow:0px 1px 3px rgba(0,0,0,0.08), 0px 0px 24px rgba(0,0,0,0.06);
                        }
                    }
                    .submit{
                        background-color:$mainColor;
                        color:white;
                        border-radius:3px;
                        text-align:center;
                        align-self:flex-end;
                        font-size:18px;
                        font-family:'Montserrat', sans-serif;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }     

            input{
                padding:10px 5px;
                border:1px solid $mainBlack;
                font-size:18px;
                margin-bottom:80px;
            }
        }

        .swiper-container{
            width:100%;
            height:100%;
            position:absolute;
            z-index:-1;
            top:0;
            left:0;
            background-color:white;
            opacity:0;

            &.opened{
                opacity:1;
                z-index:10;
                animation:1s show 1;
                animation-fill-mode: forwards;
            }

            .swiper-slide{
                display:flex;
                flex-flow:column;
                align-items: center;
                height:90%;
                padding:50px 0;
                
                >*{
                    flex:0 0 33%;
                }

                &.slide-1{
                    .img{
                        background-image:url('../img/person.svg');
                    }
                } 

                &.slide-2{
                    .img{
                        background-image:none;
                        display:flex;
                        justify-content:center;
                        i{
                            font-size: 200px;
                            color: white;
                            background-color: #CCCCFF;
                            text-align: center;
                            border-radius: 50%;
                            height: 225px;
                            width: 225px;
                            padding-top: 12.5px;
                        }
                    }
                } 

                &.slide-3{
                    .img{
                        background-image:url('../img/calendar.svg');
                    }
                }

                &.slide-4{
                    .img{
                        background-image:url('../img/happy.svg');
                    }
                }

                &.slide-5{
                    >*{
                        flex:none;
                    }
                }

                .swiper-slide-title{
                    width:80%;
                    justify-content:center;
                
                    h2{
                        width:100%;
                        text-align: center;
                    }
                    
                    hr{
                        width:100%;
                        border-color:$mainBlack;
                        background-color:$mainBlack;
                    }
                }

                .img{
                    width:350px;
                    min-height:225px;
                    background-repeat:no-repeat;
                    background-size: 100% 100%;
                    background-position:center;
                }

                h1{
                    width:80%;
                    text-align:center;
                    margin-top:50px;
                    font-size:28px;
                    text-indent:-50px;
                }

                a{
                    margin-top:100px;
                    &.primary-button{
                        background-color:$mainColor;
                        color:white;
                    }
                    &.secondary-button{
                        background-color:white;
                        color:$mainColor;
                        border:1px solid $mainColor;
                    }
                }
            }

            .swiper-pagination{
                bottom:6%;
                left:50%;
                transform:translate(-50%, -50%);

                .swiper-pagination-bullet{
                    width:12px;
                    height:12px;
                    margin:3px;
                }

                .swiper-pagination-bullet-active{
                    background-color:$mainColor;
                }
            }

            .swiper-button-prev,.swiper-button-next{
                color:$mainColor;
                background-image:none;
                margin:0 10px;
            }

            @-webkit-keyframes show{
                from{
                    opacity:0;
                    transform:translateY(-50px);
                }
                to{
                    opacity:1;
                    transform:translateY(0px);
                }
            }
        }
    }
}